/* index.css or App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif; /* You can keep the current font family */
  background-color: #f4f4f4; /* Light background for testing */
  color: #333; /* Default text color */
}

html, body, #root {
  height: 100%;
}
