.dashboard-container {
  background-color: #1c1c27;
  color: #f0f0f0;
  font-family: "Roboto", sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.menu-button {
  background: none;
  border: none;
  color: #FFFFFF;
  font-size: 24px;
  cursor: pointer;
}

.dashboard-content {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.stats-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  margin: 0 auto;
  width: 80%;
}

.stat-card {
  background: linear-gradient(135deg, #6969d3, #2828b5);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  font-size: 10px;
  color: #f0f0f0;
  flex: 1 1 calc(40% - 10px); /* Adjust width */
  min-width: 100px;
  max-width: 150px;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.chart {
  background: linear-gradient(145deg, #1f1f2e, #252538);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 20px;
  font-size: 10px;
  flex: 1 1 calc(45% - 15px); /* Adjust width */
  min-width: 280px;
}
.large-chart,
.small-chart {
  flex: 1;
  width: 90%; /* Make it responsive */
  max-width: 400px; /* Limit max size */
  height: auto; /* Maintain aspect ratio */
}


.ip-entry-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.ip-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.investigate-button {
  padding: 10px 20px;
  background-color: #4caf50;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.investigate-button:hover {
  background-color: #062407; 
}

/* Media Queries */
@media (max-width: 768px) {
  .stat-card {
    flex: 1 1 calc(50% - 10px);
  }

  .chart {
    flex: 1 1 calc(100% - 15px);
  }

  .chart-container {
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .menu-button {
    font-size: 20px;
  }

  .stat-card {
    font-size: 10px;
    padding: 10px;
  }

  .ip-input {
    width: 100%;
  }

  .investigate-button {
    width: 100%;
  }
}
