.dashboard-container {
  background-color: #1c1c27;
  color: #f0f0f0;
  font-family: "Roboto", sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.menu-button {
  background: none;
  border: none;
  color: #FFFFFF;
  font-size: 24px;
  margin: -30px;
  cursor: pointer;
}

.dashboard-content {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.stats-cards {
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 15px;
  margin: -20px 60px;
}

.stat-card {
  background: linear-gradient(135deg, #6d6d8d, #3b3b4e);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-size: 12px;
  color: #f0f0f0;
  flex: 1;
  min-width: 90px;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
}

.chart {
  background: linear-gradient(145deg, #1f1f2e, #252538);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 50px;
  font-size: 10px;
}

.large-chart {
  flex: 1;
  max-width: 400px;
  height: 300px;
}

.small-chart {
  flex: 1;
  max-width: 400px;
  height: 300px;
}

.ip-entry-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.ip-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.investigate-button {
  padding: 10px 20px;
  background-color: #4caf50;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.investigate-button:hover {
  background-color: #062407; 
}